<div class="post_info">
    <%=link_to "Back", :back %>
    <div class="post_head">
        <section>
            <h3>
                <%= @post.title %>
                <span> by <%= @post.user.name %></span>
                <%=button_to "delete", post_path, method: :delete,  data: {confirm: 'Are You Sure You Want to Delete This Post'}, class: 'log_out'%>
            </h3>
            <p><%= @post.comments_count %> comments | <%= @post.likes_count %> likes</p>
        </section>
        <p class="post_body"><%= @post.text %></p>
        <div class="like_post">
            <%= render partial: 'likes/form', locals: {likes: @post.likes.build, post: @post} %>
        </div>
        <%= render partial: 'comments/index', locals: { post: @post }%>
    </div>
    
    <div class="comments_form">
        <%= render partial: 'comments/form', locals: {comment: @post.comments.build, post: @post} %>
    </div>
</div>