<div class="post_info">
    <div class="post_head">
        <section>
            <h3>
                <%= @post.title %>
                <span> by <%= @post.user.name %></span>
            </h3>
            <p><%= @post.comments_count %> comments | <%= @post.likes_count %> likes</p>
        </section>
        <p class="post_body"><%= @post.text %></p>
        <div class="comment_info">
            <% if @post.comments.empty? %>
                <p>0 comment</p>
            <% else %>
                <% @post.comments.limit(3).each do |comment| %>
                    <p>~> <%= comment.text %> <span>by: <%= comment.user.name %><span></p>
                <% end %>
            <% end %>
        </div>
    </div>
</div>